.carouselImg {
  width: 100%; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
 
  border: 1px solid black;
  
  object-position: 50% 50%;
}

.foodImg {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 3px rgba(66, 49, 49, 0.9) inset;
}

.foodbox {
  width: 250px;
  height: 250px;
}
